<div  class="container-fluid, about">
    <div class="divH2">
      <h2 class="aboutH2">Acerca de</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div  class="col" >
          <img class="imgFotoPerfil" src="/assets/imgFotoPerfil" alt="">
          <h2 >Exequiel Cabrera</h2>
        </div>
        <div  class="col">
          <h1>Desarrollador Web Full Stack Jr.</h1>
          <p>
            asdfasdfsadfa
            sdfsadfsadfsadfsadfasdfsadfsadfasdfsad
            dfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfs
            dfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdsfsdfsdf
            sdfsadfsadfsadfsadfasdfsadfsadfasdfsad
          </p>
        </div>
        <div  class="col-12">
          <i class="fa-solid fa-plus"></i>
          <i class="fa-solid fa-trash"></i>
          <i class="fa-solid fa-pen"></i>
        </div>
      </div>
  </div>
  </div>
