.navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.imgArgPrograma{
    width: 100px;
    height: 30px;
}

.imgBanner{
    margin-top: 50px;
    width: 100%;
    height: 600px;
}

.imgContacto{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}